<div class="text-center">
  <h2>Cadastro</h2>
  <p>Campos com * são obrigatórios.</p>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :job,
                required: true,
                autofocus: true,
                collection: Job::JOBS,
                input_html: { autocomplete: "vaga" }%>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "surname" }%>
    <%= f.input :furigana,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "fugigana" }%>
    <%= f.input :nihongo,
                required: true,
                autofocus: true,
                collection: %w[N5-0~20% N4-20~40% N3-40~60% N2-60~80% N1-80~100%],
                input_html: { autocomplete: "nihongo" }%>
    <%= f.input :birthday,
                as: :date,
                start_year: Date.today.year - 60,
                end_year: Date.today.year,
                default: Date.new(2000, 1, 1),
                required: true,
                autofocus: true,
                input_html: { autocomplete: "birthday" }%>
    <%= f.input :gender,
                collection: %w[Male Female Other],
                required: true,
                autofocus: true,
                input_html: { autocomplete: "gender" }%>
    <%= f.input :phone,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone" }%>
    <%= f.input :postal_code,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "postal code" }%>
    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
    <%= f.input :address2,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "address2" }%>
    <%= f.input :skill,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "skill" }%>
    <%= f.input :licenses,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "licenses" }%>
    <%= f.input :situation,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "situation" }%>
    <%= f.input :message,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "message" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cadastrar", class: "btn btn-success" %>
  </div>
<% end %>

