<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Novos", users_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Ativos", manager_users_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Inativos", inactive_users_path, class: "nav-link" %>
  </li>
</ul>

<div class="text-center">
  <p>Total: <%= @users.count %></p>
</div>

<%= render "shared/search" %>

<table class="table table-striped mt-2">
  <thead>
  <tr>
    <th>Factory</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Tantosha</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.factory %></td>
      <td><%= link_to user.first_name, user_path(user) %></td>
      <td><%= user.phone %></td>
      <td><%= user.manager %></td>
    </tr>
  <% end %>
  </tbody>
</table>
