<%#= render "users/tab_index" %>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <%= link_to "Todos", users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Ativos", master_users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Inativos", inactive_users_path, class: "nav-link" %>
    </li>
</ul>
<div class="text-end">
    <% if user_signed_in? %>
    <%= current_user.email %>
    <% end %>
</div>
<br>
<%# @users.each do |user| %>
<%#= link_to user_path(user), class: "card-link" do %>
<!--    <div class="card">-->
<!--      <div class="card-header">-->
<!--        <p><strong>Vaga: SANYO, Local: UEDA</strong></p>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <p><strong>Nome: </strong><%#= user.first_name %> <%#= user.last_name %></p>-->
<!--        <p><strong>Telefone: </strong><%#= user.phone %></p>-->
<!--      </div>-->
<!--    </div>-->
<%# end %>
<%# end %>

<table class="table table-striped mt-2">
    <thead>
    <tr>
        <th>Factory</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Company</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.factory %></td>
        <td><%= link_to user.first_name, user_path(user) %></td>
        <td><%= user.phone %></td>
        <td><%= user.manager %></td>
    </tr>
    <% end %>
    </tbody>
</table>

<%= @users.count %>