<% if current_user.admin || current_user.role == "manager" || current_user.role == "master" %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Novos", users_path, class: "nav-link" %>
    </li>
    <% if current_user.role == "manager" %>
      <li class="nav-item">
        <%= link_to "Ativos", manager_users_path, class: "nav-link" %>
      </li>
    <% elsif current_user.role == "master" %>
      <li class="nav-item">
        <%= link_to "Ativos", master_users_path, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Ativos", users_path, class: "nav-link" %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "Inativos", inactive_users_path, class: "nav-link" %>
    </li>
  </ul>
<% end %>

<br>

<div class="d-flex justify-content-between">
  <h2>Perfil - <%= @user.first_name %> <%= @user.last_name %></h2>
  <p><%= link_to "Editar", edit_user_path(@user), class: "btn btn-secondary" %></p>
</div>

<hr>

<p><strong>ID: </strong><%= @user.id %></p>
<p><strong>Vaga: </strong><%= @user.job %></p>
<p><strong>Factory: </strong><%= @user.factory %></p>
<p><strong>Contractor: </strong><%= @user.contractor %></p>
<p><strong>Manager: </strong><%= @user.manager %></p>
<p><strong>Status: </strong><%= @user.status %></p>
<p><strong>Role: </strong><%= @user.role %></p>
<p><strong>Nome: </strong><%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Telefone: </strong><%= @user.phone %></p>
<p><strong>Furigana: </strong><%= @user.furigana %></p>
<p><strong>Nascimento: </strong><%= @user.birthday ? @user.birthday.strftime('%Y-%m-%d') : "" %></p>
<p><strong>Sexo: </strong><%= @user.gender %></p>
<p><strong>Nihongo: </strong><%= @user.nihongo %></p>
<p><strong>Postal Code: </strong><%= @user.postal_code %></p>
<p><strong>Endereço: </strong><%= @user.address %></p>
<p><%= @user.address2 %></p>
<p><strong>Skills: </strong><%= @user.skill %></p>
<p><strong>Carteiras: </strong><%= @user.licenses %></p>
<p><strong>Situação Atual: </strong><%= @user.situation %></p>
<p><strong>Mensagem: </strong><%= @user.message %></p>

<div class="text-center">
  <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
</div>
