<% if current_user.admin || current_user.role == "manager" %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Todos", users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Ativos", active_users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Inativos", inactive_users_path, class: "nav-link" %>
    </li>
  </ul>
<% end %>

<br>

<div class="d-flex justify-content-between">
  <h2>Perfil</h2>
  <p><%= link_to "Editar", edit_user_path(@user), class: "btn btn-secondary" %></p>
</div>

<hr>

<p><strong>ID: </strong><%= @user.id %></p>
<p><strong>Nome: </strong><%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Telefone: </strong><%= @user.phone %></p>
<p><strong>Furigana: </strong><%= @user.furigana %></p>
<p><strong>Nascimento: </strong><%= @user.birthday.strftime('%Y-%m-%d') %></p>
<p><strong>Sexo: </strong><%= @user.gender %></p>
<p><strong>Nihongo: </strong><%= @user.nihongo %></p>
<p><strong>Postal Code: </strong><%= @user.postal_code %></p>
<p><strong>Endereço: </strong><%= @user.address %></p>
<p><%= @user.address2 %></p>
<p><strong>Status: </strong><%= @user.status %></p>
<p><strong>Role: </strong><%= @user.role %></p>
<p><strong>Skills: </strong><%= @user.skill %></p>
<p><strong>Carteiras: </strong><%= @user.licenses %></p>
<p><strong>Situação Atual: </strong><%= @user.situation %></p>
<p><strong>Mensagem: </strong><%= @user.message %></p>

<% @user.followers.each do |f| %>
  <p><%= f.first_name %> - <%= f.phone %></p>
<% end %>

<div class="text-center">
  <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
</div>
