<%= simple_form_for @request do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :status %>
  <% @users.each do |user| %>
    <div>
      <%= check_box_tag "user_ids[]", user.id, @request.users.include?(user) %>
      <%= label_tag "request_user_ids_#{user.id}", user.email %>
    </div>
  <% end %>
  <%= f.button :submit %>
<% end %>