<% unless user_signed_in? %>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
      <%=  link_to "Cadastro", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
  <% else %>
  <% if current_user.admin || current_user.role == "manager" %>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Todos", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Ativos", active_users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inativos", inactive_users_path, class: "nav-link" %>
      </li>
    </ul>
    <div class="text-end">
      <% if user_signed_in? %>
        <%= current_user.email %>
      <% end %>
    </div>
    <% elsif  current_user.persisted? && current_user.sign_in_count == 1 %>
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
          <h1>Seja bem vindo/a <%= current_user.first_name %>!</h1>
          <h3>Obrigado por cadastrar, entraremos em contato em breve!</h3>
          <p>Seu email para Login é <strong><%= current_user.email %></strong></p>
          <p>Lembre-se de guardar seu email e senha!</p>
          <%= link_to "Fechar", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
<% end %>
