<% unless user_signed_in? %>
  <div class="text-center">
    <%=  link_to "Cadastro", new_user_registration_path, class: "btn btn-primary" %>
  </div>
  <% else %>
  <% if current_user.admin || current_user.role == "manager" %>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Todos", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Ativos", active_users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inativos", inactive_users_path, class: "nav-link" %>
      </li>
    </ul>
    <div class="text-end">
      <% if user_signed_in? %>
        <%= current_user.email %>
      <% end %>
    </div>
    <h1>Página Inicial</h1>
    <h2>Home Page</h2>

    <p>Solicitações**</p>
    <p>Informações</p>
    <p>Fabrica</p>
    <p>Data Inicio</p>
    <p>Tantosha e contato</p>
    <p>Telefones úteis</p>
  <% end %>
<% end %>
